*{
  font-family: "微软雅黑";
}

.imgSize{
  display: inline-block;
}

.imgSize img{
  width:150px;
  height:180px;
  margin: 10px 10px;
}

.wrap-colthes{
  width: 68%;
  margin: 100px auto;
  border: 1px solid #d2cdcd;
  border-radius: 5px;
}

.delete-wrap{
  display: inline-block;
  position: relative;
  top: -75px;
  left: -38px;
  background: #7e7878;
  width: 30px;
  height: 30px;
  opacity: 0;
  line-height: 30px;
  text-align: center;
  /*vertical-align: middle;*/
}

.delete{
    color: black;
    /*position: relative;
    top: -70px;
    left: -30px;
    color: red;*/
    /*display: none;*/
    /*background: block;*/
    /*opacity: 0.5;*/
    /*border: 1px solid red;*/
}

.select{
  width: 170px;
  text-align: center;
}

.input-select{
  display: none;
}

.h4-inline{
  display:inline-block;
}

.btn-add{
  float:right;
  
}

.btn-float{
  position: fixed;
  right: 18%;
  top: 45%;
}

.btn-foot{
  text-align: center;
}
