*{
  font-family: "微软雅黑";
}

.imgSize{
  display: inline-block;
}

.imgSize img{
  width:150px;
  height:180px;
  margin: 10px 10px;
}

.wrap-colthes{
  width: 68%;
  margin: 100px auto;
  border: 1px solid #d2cdcd;
  border-radius: 5px;
}

.delete{
    position: relative;
    top: -70px;
    left: -30px;
    /*display: none;*/
    /*background: block;*/
    /*opacity: 0.5;*/
    border: 1px solid red;
}

.input-select{
    /*outline:none;*/
    /*background-color: transparent;*/
}

.btn-float{
  position: fixed;
  right: 18%;
  top: 45%;
}

.btn-foot{
  text-align: center;
}
