#center {
    width: 450px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e6ece4;
    border-radius: 20px;
    /*opacity:0.5*/
    /*background: #e8fffd;*/
}

.title {
    color: #398439;
    font-size: 20px;
    cursor:pointer;
}

.buttonCenter {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    background-color: #bdffb8;
}


.remarkName {
    color: red;
}
.remarkPassword{
    color: red;
}

.loginbackground{

    height: 650px;
    border:1px solid  #deafd4;
    background:url('../images/login3.jpg') ;
}
.loginOut{
    cursor:pointer;
}
